.html {
    font-family: Georgia, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url("images/backgroundquisuisje.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
a:hover
{
    text-decoration: underline;
    color: blue;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    background-color:black;
    font-size: 18px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: sticky;
    display: block;
    margin: 0 35px;
    color: white;
    text-decoration: none;
}
.bloc {
    margin-left: 12% ;
    width: 75%;
    height: 20%;
    background-color: white;
    position: relative;
    top: 100px;
}
.Titre
{
    color: black;
    text-decoration: underline;
    top:50px;
    left:50px;
    font-size:30px;
    margin-left: 30px;
}
.Texte{
    color: black;
    margin-left: 30px;
}
.photo{
    top: -20px;
    right: 30px;
    float: right;
    position: relative;
}
@media only screen and ( max-width: 1920px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 590px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color : black;
        text-decoration: underline;
        position: absolute;
        top:-10px;
        right: -20px;
        font-size:35px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 1%;
    }
    .photo{
        top: -20px;
        right: 10px;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 101%;
        height: 40px;
        background-color: black;
        top: 267px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:750px;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 267px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:38%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1360px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 590px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color : black;
        text-decoration: underline;
        position: absolute;
        top:-10px;
        right: -20px;
        font-size:35px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 1%;
    }
    .photo{
        top: -20px;
        right: 10px;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 257px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:36%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1280px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 590px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color : black;
        text-decoration: underline;
        position: absolute;
        top:-10px;
        right: -20px;
        font-size:35px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 1%;
    }
    .photo{
        top: -20px;
        right: 10px;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 257px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:34%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1152px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 630px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:0;
        left:50px;
        font-size:30px;
        margin-left: 30px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 1%;
    }
    .photo{
        top: -20px;
        right: 0;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 217px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:34%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1024px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 660px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:0;
        left:50px;
        font-size:30px;
        margin-left: 30px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 2%;
    }
    .photo{
        top: -20px;
        right: 0;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 187px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:31%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 910px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 670px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:0;
        left:50px;
        font-size:30px;
        margin-left: 30px;
    }
    .Texte{
        color: black;
        margin-left: 30px;
        top : 110px;
        position: relative;
        right: 2%;
    }
    .photo{
        top: -20px;
        right: 0;
        float: right;
        position: relative;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 177px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:29%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 800px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc {
        width: 80%;
        height: 690px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:0;
        left:50px;
        font-size:30px;
        margin-left: 30px;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 3%;
    }
    .photo{
        top: -20px;
        right: 0;
        float: right;
    }
    .photopetite{
        display: none;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 157px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:26%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 720px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 15px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 6px;
    }
    .bloc {
        width: 80%;
        height: 730px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:5px;
        font-size:30px;
        left: 27%;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 3%;
    }
    .photo{
        display: none;
    }
    .photopetite{
        display: none;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 117px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:22%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 600px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 12px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 6px;
    }
    .bloc {
        width: 80%;
        height: 770px;
        background-color: white;
        top: 80px;
    }
    .Titre
    {
        color: black;
        text-decoration: underline;
        top:5px;
        font-size:30px;
        left: 21%;
    }
    .Texte{
        color: black;
        top : 110px;
        position: relative;
        right: 3%;
    }
    .photo{
        display: none;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 77px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:17%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}

