.html {
    font-family: Georgia, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-image: url("images/backgroundveille.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a:hover /* Apparence au survol des liens */
{
    text-decoration: underline;
    color: blue;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
    background-color:black;
    font-size: 18px;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: sticky;
    display: block;
    margin: 0 35px;
    color: white;
    text-decoration: none;
}
.bloc {
    margin-left: 12% ;
    width: 75%;
    height: 700px;
    background-color: white;
    position: relative;
    top: 100px;
    overflow: scroll;
}
.Titre h1
{
    color: black;
    text-decoration: underline;
    top:50px;
    left:50px;
    font-size:30px;
    margin-left: 30px;
}
.Texte{
    color: black;
    margin-left: 30px;
}
.img{
    position: relative;
}
@media only screen and ( max-width: 1920px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 173px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:38%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1800px) {
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:38%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1650px) {
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:38%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1500px) {
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:38%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1360px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:37%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1280px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:36%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1152px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:34%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 1024px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }

    header ul {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }

    header ul li {
        position: relative;
        list-style: none;
    }

    header ul li a {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:32%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 910px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:28%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 800px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 17px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a
    {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 14px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:25%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 760px) {
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:23%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 720px) {
    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color:black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul
    {
        position: relative;
        display: flex;
        font-size: 15px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li
    {
        position: relative;
        list-style: none;
    }
    header ul li a {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 6px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:21%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 650px) {
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:19%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}
@media only screen and ( max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: black;
        z-index: 1000;
        justify-content: space-around;
        align-items: center;
        transition: 0.5s;
        text-align: center;
    }
    header ul {
        position: relative;
        display: flex;
        font-size: 12px;
        -webkit-transition: blue;
        margin-left: -8%;
    }
    header ul li {
        position: relative;
        list-style: none;
    }
    header ul li a {
        position: sticky;
        display: inline-block;
        color: white;
        text-decoration: none;
        scroll-behavior: smooth;
        margin: 0 6px;
    }
    .bloc_footer{
        width: 100%;
        height: 40px;
        background-color: black;
        top: 163px;
        position :relative;
    }
    .footer_content{
        color: white;
        left:17%;
        top:7px;
        position: relative;
    }
    .footer_content a{
        top : 7px;
        position: relative;
    }
}